.area1 {background-color: red;}
.area2 {background-color: orange;}
.area3 {background-color: yellow;}
.area4 {background-color: green;}
.area5 {background-color: blue;}

.inline {
    display: inline;
}

.block {
    display: block;

    width: 150px;
    height: 150px;
}

.inline-block {
    display: inline-block;
}


/* 감싸는 영역 요소 */
#container-1 {
    border: 3px solid black;
    width: 323px;
    height: 472px;
}


/* 내부의 영역을 분할할 요소 */
.div-1 {
    height: 50%;
    width: 100%;

    border: 1px dashed hotpink;
}


/* 연습문제1 (상하 2분할) */
#container-1 > .div-1:first-of-type{
    height: 30%;
    background-color: red;
}

#container-1 > .div-1:last-of-type{
    height: 70%;
    background-color: blue;
}


/* 연습문제2 (상하 3분할)*/
#container-2 {
    border: 3px solid black;
    width: 323px;
    height: 472px;
}

.div-2:nth-child(1) {
    height: 20%;
    background-color: yellowgreen;
}

.div-2:nth-child(2) {
    height: 30%;
    background-color: red;
}

.div-2:nth-child(3) {
    height: 50%;
    background-color: skyblue;
}


/* 좌우 2분할 (inline-block 형식) */
#container-3 {
    border: 5px solid red;
    width: 400px;
    height: 200px;
}

.div-3 {
    width: 50%;
    height: 100%;
    display: inline-block;
}

#container-3 > .div-3:first-child {
    background-color: pink;
}

#container-3 > .div-3:last-child {
    background-color: blue;
}


/* visibility: hidden */
.div-4 {
    border: 3px solid black;
    height: 100px;
}

#test4 {
    background-color: deeppink;

    /* visibility: hidden;  */  
    /* 말 그대로 투명 / 하지만 display: none은 굳이 말하면 투명이 아니다 */
    
    display: none; 
    /* 화면 자체에서 사라지지만 데이터가 사라진 것은 아님(개발자 도구를 통해 소스코드를 보면 남아 있는 걸 확인할 수 있다. */
}

