/* 전체영역 */
* {
    color: white;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    /* border: 1px solid white; */
}

.container {
    background-color: black;
    /* vh : 내가 보고 있는 사이트 높이 만큼 높이 적용 vueport height */
    height: 100%;
}

#logo {
    width: 70px;
}

nav {
    height: 60px;
    display: flex;
/* 
    border-bottom: 1px solid red; */
}

nav > ul {
    display: flex;
    /* list_style: none : <li> 사용할 때 생기는 dot을 제거 */
    list-style: none;
    flex-basis: 75%;
    
    align-items: center;
}

.icon-box {
    display: flex;
    flex-basis: 20%;
    justify-content: space-around;
    align-items: center;
}

nav > a:first-child {
    flex-basis: 5%;

    display: flex;
    justify-content: center;
    align-items: center;
}

nav > ul > li {
    text-align: center;
    /* 해당 nav 영역이 height 60px 이므로 글을 담는 공간 높이도 60px로 맞춰준다 */
    line-height: 60px;
    /* margin: 상하px 좌우px */
    margin: 0 15px;
}

.banner {
    /* 해당 영역의 백그라운드에 이미지 넣기 */
    background-image: url(/images/해리2.jpg);
    width: 100vw;
    height: 900px;
    /* 사진이 갖고 있는 고유 사이즈로 인해 웹사이트에 비어있는 부분에 사진이 계속해서
    반복되어 깔리는 것을 없애는 명령어 */
    background-repeat: no-repeat;

    display: flex;
    align-items: flex-end;

    /* 사진 크기 조절 */
    background-size: cover;
}

.title-box {
    /* border: 1px solid red; */
    height: 400px;
    width: 800px;
    display: flex;
    flex-direction: column;

    padding: 50px;
}

.title-box > h1 {
    font-size: 50px;
    -webkit-text-stroke: 1px white;
    color: black;
}

.title-box > p {
    font-size: 20px;
    margin-top: 20px;
    color: white;
}

.title-box-btn {
    margin-top: 30px;
}

.title-box-btn > button {
    color: black;
    padding: 10px 50px;
    margin-right: 10px;
    cursor: pointer;

    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
}

.title-box-btn > button:last-child {
    background-color: rgba(110, 75, 75, 0.3);
    color: white;
}

.contents-box {
    /* border: 1px solid red; */

    display: flex;
    flex-direction: column;
    margin-top: 50px;

}

.contents-box img {
    width: 200px;
}


/* 
position: absolute와 relative의 관계
relative가 적용된 박스의 영역 위에 absolute가 적용된 개체가 위에 겹쳐 올라가는 것
 */
.contents-box p {
    font-size: 150px;
    font-weight: bold;
    -webkit-text-stroke: 5px white;
    color: black;

    position: absolute;
    bottom: 0;
    left: -50px;
}

.poster-box {
    position: relative;
    /* border: 1px solid red; */

    margin: 0 50px;
}

.contents-box > section {
    display: flex;
}

.contents-box > h2 {
    padding: 20px 50px;
}

.poster-boxes {
    padding: 0 50px;
}

.poster-boxes > div {
    margin-right: 50px;
}