.container-1 {
    border: 1px solid black;
    width: 506px;
    height: 506px;

    position: relative;
}

.div1 {
    position: absolute;
}

.div2 {
    position: absolute;
    left: 20%;
}

.div3 {
    position: absolute;
    left: 40%;
}

.div4 {
    position: absolute;
    left: 60%;
}

.div5 {
    position: absolute;
    left: 80%;
}

.div1-1, .div2-1, .div3-1, .div4-1, .div5-1 {
    margin: 1px;
    background-color: tomato;
    width: 100px;
    height: 100px;
}

.container-1 [id=""] {
    background-color: white;
}

.container-1 [id="1"] {
    background-color: tomato;
}

.container-1 [id="2"] {
    background-color: green;
}