/* color 속성 */

#color-ul > li {
    font-size: 24px;
    font-weight: bold;
}

#color-ul > li:nth-child(1) {
    color: red;
}

/* 16진수 표기법
구글에 색상선택도구 검색 후 원하는 색상 선택 후 
아랫단 중 HEX 밑에 있는 값이 16진수 색상 표기법 */
#color-ul > li:nth-child(2) {
    color: #8918f5;
}

/* rgb */
#color-ul > li:nth-child(3) {
    color: rgb(50, 100, 150); 
    /* 값 범위 : 0~255 
    0(검은색)에 가까울수록 어두운 색상
    255(흰색)에 가까울수록 밝은 색상
    */
}

/* rgba */
#color-ul > li:nth-child(4) {
    color: rgba(50, 100, 150, 0.3);
    /* a(alpha) : 투명도, 0에 가까울수록 투명 1에 가까울수록 불투명 */
}

/* hsl */
#color-ul > li:nth-child(5) {
    color: hsl(360, 100%, 50%);
    /* 
    hue : 색상
    saturation : 채도
    lightnes : 명도 
    */
}

/* hsla */
#color-ul > li:nth-child(6) {
    color: hsla(360, 100%, 50%, 0.5);
}

/* -------------------------------------------- */

/* text-decoration */

/* 아랫줄 긋기 */
#deco-ul > li:nth-child(1) {
    text-decoration: underline;
}

/* 중간줄 긋기 */
#deco-ul > li:nth-child(2) {
    text-decoration: line-through;
}

/* 윗줄 긋기 */
#deco-ul > li:nth-child(3) {
    text-decoration: overline;
}

/* 줄 없애기 */
#deco-ul > li:nth-child(4) > a{
    text-decoration: none;
}

/* -------------------------------------------- */

/* text-align */

#align-test {
    width: 350;
    border: 2px solid black;
}

#align-test > p:nth-child(1) {
    text-align: left; /* 기본값 */
}

#align-test > p:nth-child(2) {
    text-align: right;
}

#align-test > p:nth-child(3) {
    text-align: center;
}

/* 지정되어 있는 박스 안의 크기에 맞춰 중간 정렬 */
#align-test > p:nth-child(4) {
    text-align: justify;
}

/* inline-block */

#div1 > div {
    width: 50px;
    height: 50px;
    background-color: red;
    display: inline-block;
}

#div1 {
    text-align: center;
}

/* -------------------------------------------- */

/* line-height */

#line-test > p:last-child {
    line-height: 30px;
}

/* -------------------------------------------- */

/* 글자를 요소 정중아에 배치하기 */
#center-test {
    width: 200px;
    height: 200px;
    border: 1px solid black;

    text-align: center;
}

#center-test > span {
    background-color: pink;
    line-height: 200px;
}

/* letter-spacing: ~~px; 
글자 사이 간격(자간) 지정하기 */
#letter-test {
    letter-spacing: 10px;
}

/* text-shadow */
/* 텍스트에 그림자 효과 추가하기 */
#shadow-test {
    background-color: black;
    padding: 30px;
}

#shadow-test > p {
    font-size: 75px;
    font-weight: bold;
}

/* 
첫 번째 px : 좌우
두 번째 px : 상하 */
#shadow-test > p:nth-child(1) {
    color: orange;
    text-shadow: 3px 3px white;
}

/* 세 번째 px : 화면 앞 뒤로 */
#shadow-test > p:nth-child(2) {
    color: white;
    text-shadow: 5px 5px 5px #bbb;
}

/* 네온사인 효과  */
#shadow-test > p:nth-child(3) {
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 0px 0px 10px magenta;
}

/* 그림자 겹치기 */
#shadow-test > p:nth-child(4) {
    text-shadow: 0px 0px 4px #ccc,
                 0px -5px 4px #ff3,
                 2px -10px 6px #fd3,
                 -2px -15px 11px #f80,
                 2px -20px 18px #f20;
}