* {
    box-sizing: border-box;

    border: 1px solid black;
}

body {
    margin: 10px;
}

main {
    width: 100%;
    margin: auto;
}

/* header */

header {
    height: 60px;
    width: 100%;
    margin: auto;
    display: flex;

}

header > section {
    display: flex;
    justify-content: center;
    align-items: center;
}

header > section:nth-child(1) {
    flex-basis: 3%;
}
header > section:nth-child(2) {
    flex-basis: 8%;
    justify-content: start;
}
header > section:nth-child(3),
header > section:nth-child(5) {
    flex-basis: 30%;
}
header > section:nth-child(4) {
    flex-basis: 30%;
}
header > section:nth-child(6) {
    flex-basis: 20%;
    justify-content: end;
}

/* 목록 버튼 */
#list-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 25px;

}

/* 유튜브 로고 */
#youtube-logo {
    width: 120px;
    height: 50px;
}

.search-area {
    display: flex;

    justify-content: center;
    align-items: center;
}

.searchAndkeyboard {
    border: 1px solid gray;
    border-start-start-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 580px;
    height: 50px;

    display: flex;

    justify-content: center;
    align-items: center;
}

fieldset {
    display: flex;
    border: none;
}

#query {
    flex-basis: 95%;
    width: 500px;
    height: 40px;
    border: none;
    outline: none;
    font-size: 18px;
}

#keyboard-btn {
    flex-basis: 5%;
    border: none;
    font-size: 20px;
    background-color: transparent;
    cursor: pointer;
}

.glass {
    border: 1px solid gray;
    border-end-end-radius: 20px;
    border-top-right-radius: 20px;
    height: 50px;
    border-left: none;
    width: 80px;
    background-color: lightgray;

    display: flex;
    justify-content: center;
    align-items: center;
}

#glass-btn {
    cursor: pointer;
    font-size: 25px;
    background-color: transparent;
    border: none;
}

.voice-box {
    display: flex;
    justify-content: start;
}

#mic-btn {
    font-size: 25px;
    border: 10px solid lightgray;
    background-color: lightgray;
    border-radius: 50px;
}

.list-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    justify-content: end;
}

#camera-btn {
    border: none;
    background-color: transparent;
    font-size: 25px;

    margin-right: 30px;
}

#bell-btn {
    border: none;
    background-color: transparent;
    font-size: 25px;

    margin-right: 30px;
}

#user-btn {
    border: none;
    background-color: transparent;
    font-size: 25px;
    color: purple;

    margin-right: 10px;
}

/* body 영역 */

.body {
    display: flex;

    flex-direction: row;
    justify-content: center;
}

.bodyLeft {
    display: flex;

    flex-direction: column;
    flex-basis: 30%;
}

.bodyRight {
    display: flex;

    flex-direction: column;
    flex-basis: 18%;
}

.info {
    display: flex;

    flex-direction: column;
}

.select {
    display: flex;
    flex-direction: row;
    height: 80px;

    align-items: center;

}

.select :nth-child(1){flex-basis: 5%;}
.select :nth-child(2){
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0;
}
.select :nth-of-type(3){
    flex-basis: 30%;
    display: flex;
    justify-content: center;
}

.bell-btn {
    display: flex;
}
.bell-btn :nth-child(1) {
    font-size: 10px;
}

.select :nth-child(4){flex-basis: 20%;}
.select :nth-child(5){flex-basis: 20%;}
.select :nth-child(6){flex-basis: 5%;}

.select :nth-child(2) > a {
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.select :nth-child(2) > p {
    font-size: 13px;
    text-align: start;
    margin-left: 8px;
}