* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}

main {
    display: flex;
    width: 1000px;
    height: 700px;
}

/* 왼쪽 파트 */
.left {
    /* flex-basis: 60%; */
    width: 1000px;
    height: 700px;
    display: flex;
    justify-content: end;
    align-items: center;
    overflow: hidden;
}

/* 왼쪽 파트 기능을 담는 영역 */
.phone-body {
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 40px;
    
}

/* 헤드 넘버와 번호 내용을 담는 영역 */
.phone-body > :first-child {
    height: 60px;
    width: 480px;
    display: flex;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
}

/* 010과 같은 헤드 넘버 선택창 */
#head-number {
    flex-basis: 20%;
    font-size: 25px;
    text-align: center;
    height: 50px;
    border: 1px solid rgb(119, 155, 187);
    border-radius: 10px;
}

/* 번호 입력창 담는 div : 이름 귀찮아서 아무거나 지음 */
.a {
    width: 250px;
    height: 50px;
    display: flex;
    align-items: center;
}

/* 번호 입력창 */
#input-number {
    width: 200px;
    text-align: center;
    font-size: 30px;
    margin: 0px 25px;

    border: none;
    border-bottom: 2px solid rgb(171, 217, 235);
}

/* 삭제 버튼 */
#delete-btn {
    font-size: 30px;
    color: rgb(143, 208, 228);
    cursor: pointer;
}
#delete-btn:hover {
    color: rgb(84, 180, 212);
}

/* 번호 버튼을 담는 div */
.numbtn-body {
    flex-basis: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.numbtn-list {
    width: 97%;
    height: 97%;
}

/* 각각의 번호 버튼들 */
.numbtn-body > div > button {
    cursor: pointer;
    width: 150px;
    height: 110px;
    font-size: 40px;
    font-weight: bold;
    margin: 3px 0px;
    margin-left: 6px;

    /* 디자인 */
    border: none;
    background-color: transparent;
    border-radius: 20px;
}

/* 버튼에 마우스 오버시 변화 */
.numbtn-body > div > button:hover {
    background-color: aliceblue;
}

/* 추가, 초기화 버튼 담은 div */
.btn-list{
    flex-basis: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/* 각각의 추가, 초기화 */
.btn-list > button {
    cursor: pointer;
    height: 40%;
    width: 80%;
    font-size: 20px;

    /* 디자인 */
    border-radius: 10px;
    background-color: transparent;
    font-weight: bold;
}

/* 추가 버튼 디자인 */
.btn-list > button:first-child {
    border: 3px solid green;
    color: green;
}

/* 초기화 버튼 디자인 */
.btn-list > button:last-child {
    border: 3px solid rebeccapurple;
    color: rebeccapurple;
}


/* 오른쪽 파트 */
.right {
    display: flex;
    flex-direction: column;
    width: 380px;
    overflow: hidden;
    border-left: 3px solid rgb(199, 195, 195);
}

/* 전화 번호 목록 */
h3 {
    text-align: center;
    margin-top: 40px;
}

/* 번호 목록 div */
.user-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
}

/* 번호가 담길 상자 */
.user-list > div {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 90%;
    height: 40px;
    margin-top: 5px;
    border-bottom: 1px solid rgb(114, 152, 152);
}

/* 별 버튼 */
#star {
    margin-left: 20px;
    margin-top: 5px;
    font-size: 20px;
    cursor: pointer;
    color: yellow;
}

.remove {
    cursor: pointer;
    margin-left: 10px;
    font-size: 25px;
}

/* 저장된 번호 목록의 번호 폰트 */
h4 {
    font-size: 20px;
}   